{% load bootstrap4 %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <h1> 
            {% if user_info.profile.my_image %}
            <img src="{{ user_info.profile.my_image.url }}" width= 70, 
                 alt="{{ user_info.profile.my_image}}">
            {% endif %}
            유저 아이디:{{ user_info.username }}
            </h1>
        </div>
        <div class="col-9">
            <div>
                <strong>유저 닉네임:{{ user_info.profile.nickname }}</strong>
            </div>
            <div>
                지역:{{ user_info.profile.address }}
            </div>
        </div>
    </div>

    <hr>
    <h2>내가 참여한 공동구매</h2>
    {% for post in posts_list %}
        <h3><a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></h3>
        <p>{{post.pub_date}}</p>
        <p>{{post.body|linebreaks}}</p>
        <hr>
    {% endfor %}

    {% if user == user_info %}
    <div>
        <a href="{% url 'edit_profile' %}">프로필 수정</a>
    {% endif %}
    <a href="{% url 'home' 'All' %}">홈으로 가기</a>
