{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>

<body>
    <header>
        <a href = "{% url 'home' %}">
            <img class="logo" src="{% static 'main/img/logo.png' %}" alt="Logo">
        </a>
        <!-- 프로필 이미지 base.html에서 받아오기...... -->
        <div class="profile-container"><img class="profile-img" src="{% static 'main/img/profile.png' %}" alt="profile">
        </div>
        <div class="nickname"> "{{ user_info.profile.nickname }}" 님 환영해요!</div>

        <a href="{% url 'profile' username=user %}"><button class="logout">마이페이지</button></a>
        <a href="{% url 'logout' %}"><button class="logout">로그아웃</button></a>

    </header>

    {% block content %}
    {% endblock %}

</body>

</html>