<!--main/templates/detail.html-->
{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Detail_1</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{% static 'accounts/css/detail.css' %}">
</head>

<body>
    <header>
        <img class="logo" src="./iconmonstr-basket-7-48.png" alt="">

        <div class="profile-container"><img class="profile-img" src="./profile.png" alt="profile"></div>
        <div class="nickname"> "닉네임" 님 환영해요!</div>
        <button class="logout">마이페이지</button>
        <button class="logout">로그아웃</button>
    </header>
    <hr>
    <main>
        <section class="boxtop">
            <b>제목</b>
            <div class="writer">
                <img src='./iconmonstr-user-6-240.png' alt="myprofile" width=30px, height=30px>
                작성자
            </div>
        </section>
        <hr align="center" width="80%" size="5" color="green" noshade />
        <form>
            <section class="inputs">
                <div class="name_input">
                    <label for="location">지역</label>
                    <input type="text" readonly id="location" name="location">
                </div>
                <div class="name_input">
                    <label for="link">링크</label>
                    <input type="text" readonly id="link" name="link">
                </div>
                <div class="name_input">
                    <label for="item">품목</label>
                    <input type="text" readonly id="item" name="item">
                </div>

                <div class="name_input">
                    <label for="people">n/m</label>
                    <input type="text" readonly id="people" name="people">
                </div>
                <div class="name_input">
                    <div class="dead">
                        <label for="deadline">마감기한</label>
                        <input type="datetime-local" id="deadline" name="deadline">
                    </div>
                </div>
            </section>
            <input type="text" readonly id="bodytext" name="bodytext" placeholder="본문 내용">
            <section class="member">
                <div class="idimg">
                    <div class="memimg">
                        <img src='./iconmonstr-user-6-240.png' alt="myprofile" width=40px, height=40px>
                    </div>
                    <p>아이디</p>
                    <p class="writtenby">작성자</p>
                </div>
                <div class="idimg">
                    <div class="memimg">
                        <img src='./iconmonstr-user-6-240.png' alt="myprofile" width=40px, height=40px>
                    </div>
                    <p>아이디</p>
                </div>
                <div class="idimg">
                    <div class="memimg">
                        <img src='./iconmonstr-user-6-240.png' alt="myprofile" width=40px, height=40px>
                    </div>
                    <p>아이디</p>
                </div>

            </section>
            <section class="btmbox">
                <button class="chatin">참가하기!</button>
            </section>
        </form>
    </main>
</body>

</html>
{% endblock %}