<!--main/templates/home.html-->

{% extends 'base.html' %}
{% block content %}

<form action="{% url 'search' %}" method="post"> {% csrf_token %}
    <input type="text" name="search_word" label="Search Word">
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>


    <br>
    <hr>
{% for post in posts_list %}
    <a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a><br>
    <p>{{post.pub_date}}</p>
    <p>{{post.body|linebreaks}}</p>
    <hr>
{% endfor %}
{% endblock %}