<!--main/templates/new.html-->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Write</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" href="{% static 'main/css/new.css' %}">
</head>

<body>

    <main>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="title" id="title">제목:</label>
            <input type="text" id="title" name="title" maxlength="150"required="">
            <!-- <input type="text" name="title" maxlength="150" required="" id="id_title"> -->
            <br><br>
            <hr>
            
            <section class="inputs">
                <div class="name_input">
                    <label for="item"> 품목    </label>
                    <input type="text" id="item" name="item" maxlength="50" required="">
                    <!-- <input type="text" name="item" maxlength="50" required="" id="id_item"> -->
                </div>

                <div class="name_input">
                    <label for="link"> 링크    </label>
                    <input type="url" id="link" name="link"maxlength="300">
                    <!-- <input  name="link" maxlength="300" id="id_link"> -->
                </div>
                <div class="name_input">
                    <label for="category">카테고리</label>
                    <select name="category" required="" id="id_category">
                        <option value="" selected="">---------</option>
                      
                        <option value="Offline">오프라인</option>
                      
                        <option value="Online">온라인</option>
                      
                        <option value="Delivery">배달음식</option>
                      
                      </select>
                </div>

                <!--사진 테스트한다고 하은이 추가함-->
                <div class="name_input">
                    <label for="imgae"> 사진   </label>
                    <input type="file" id="image" name="image">
                    <!-- <input  name="link" maxlength="300" id="id_link"> -->
                </div>

                <!-- <div class="name_input">
                     <label for="location">지역</label> -->
                    <!-- <input type="text" id="location" name="location"> 
                    지역 일단 주석처리
                </div> -->

                <div class="name_input">
                    <label for="people">모집인원</label>
                    <input type="number" id="people" name="limit"value="1" min="0" required="">
                    <!-- <input type="number" name="limit" value="1" min="0" required="" id="id_limit"> -->
                </div>
                <div class="name_input">
                    <div class="dead">
                        <label for="deadline">마감기한</label>
                        <input type="datetime-local" id="deadline" name="deadline">
                        <!-- <input type="text" name="deadline" id="id_deadline"> -->
                    </div>
                </div>
            </section>
            <!-- <input type="text" id="bodytext" name="body" placeholder="내용을 입력하세요."> -->
            <textarea name="body" cols="40" id="bodytext" rows="10" required="" id="id_body"placeholder="내용을 입력하세요."></textarea>
            <button type="submit" id = "makechat">대기방 개설</button>
        </form>
    </main>
</body>

</html>
{% endblock %}
