@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input{
    
    border-radius: 3px;
    background-color: #fff;
    border: 2.7px solid #9dc39c;

}
input:focus{
    border: 2px solid #156917;
    outline:0;
}
input::placeholder{
    color: #9dc39c;
    font-size: 15px;
    
}

*{
	box-sizing: border-box; 
    /* background-color: #fbfaf6;  */
    font-family:  'S-CoreDream-5Medium';
}


header{
    background-color: #fbfaf6;
}
/* ///////////////////////////////////////////////////메인페이지 */



/* ////////////////////////////// */

body{
    margin: 0;
    width: 100%;
    transition: 2s;
    padding-bottom: 1vh;
    background-color: #9dc39c; 
}

.main-main{
    display:flex;
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0);
    /* background-image: url("./main-back.jpg"); */
    
}


a {
    text-decoration: none;
}
.first{
    margin:0 auto;
    margin-top: 15vh;
    position:relative;
    width:70vw;
    
    height: 80vh;
    margin-bottom: 200px;
    background-color:#fbfaf6;
    border-radius:4px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:5%;
    padding-top:3%;
    
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0);
    
}
.search-box input{
    margin-left:20px;
    width: 30vw;
    height: 7vh;
    font-size: 15px;
    padding: 20px;
}

.search-box > button{
    margin-left: 40px;
    height: 40px;
    width: 70px;
    background-color: #c9e0c8;
}
.category-box{
    display: flex;
    justify-content: space-between ;
    width:25vw;
    margin-top: 8px;
    margin-bottom: 15px;
    
}
.category-box a{
    color: black;
}
.result-box{
    width:90%;
    height: 75%;
    overflow: scroll;
    border:solid #9dc39c;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
}
.result-box::-webkit-scrollbar {
    width: 6px;
    height: 90%;
    
}
.result-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #9dc39c;
}

.in-result-box2{
    display: flex;
}

.in-result-box3{
    margin-left:1.5%;
}

.details{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top:1.5%;
    border: solid #9dc39c;
    border-radius: 20px;
}

.in-result{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.in-result p{
    width:125px;
    margin-left:40px;
}

.detail_cate{
    height: fit-content;
    width:45px;
    margin-left:2%;
    text-align: center;
    position: relative;
    top:10%;

}
.detil_preview{
    height: fit-content;
    width: 400px;
    text-align: center;
}
.second{
    width:70vw;
    margin:0 auto;
    height: 80vh;
    margin-bottom: 40px;
    background-color:#9dc39c;
    border-radius:4px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 3%
    
}
.second h2{
    background-color: rgba(255, 255, 255, 0);
    margin-right: 49%;
    color:#fbfaf6;

}

.my-group{
    background-color: inherit;
    width:85%;
    height: 50vh;
    border:solid #fbfaf6;
    overflow:scroll;
    margin-bottom: 40px;
    border-radius: 10px;

}
.my-group::-webkit-scrollbar {
    width: 6px;
    height: 90%;
    margin-right: 30px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 0px 5px 5px 0px;
    background-color: #9dc39c;
}
.my-group::-webkit-scrollbar-thumb{
    background-color: #fbfaf6;
}

.my-room{
    margin: 3% auto;
    width: 90%;
    height: 12%;
    background-color: #fff;
    border: solid #fbfaf6 2px;
    border-radius:5px;
    display: flex;
    flex-wrap: wrap;
    text-align:end;
    justify-content:space-around;
    align-items: center;
}

.in-result-box3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inline-texts{
    display: inline-block;
}

.my-room p{
    margin-bottom:50px;
    width: 130px;
    text-align:left;
}

.m{
    margin-left:40px;
}
.detail_cate button{
    width:75px;
    margin-top: 3px;
    margin-bottom: 50px;
    height:70%;
    font-size: 6px;
    text-align: center;
}
.my-room b{
    margin: 0 30px 0 10px;
    font-size: 15px;;
    color: rgb(81, 168, 81);
}
.third{
    border-radius:4px;
    width:70vw;
    margin:0 auto;
    margin-top: 20vh;
    height: 90vh;
    margin-bottom: 40px;
    background-color:#fbfaf6;
    padding:5vh 5vw 5vh 5vw;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.rec-room-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow:scroll;

}
.rec-room-list::-webkit-scrollbar {
    width: 6px;
    height: 90%;
    margin-right: 30px;
}
.third h2{
    background-color: rgba(255, 255, 255, 0);
    margin-right: 60%;
    color:#9dc39c;
}
.rec-room{
    display:flex;
    align-items: center;
    height:7%;
    width:80%;
    padding-left:10%;
    border: solid rgb(81, 168, 81)2px;
    border-radius:5px;
    margin: 2% auto;
}
.rec-room b{
    margin: 0 30px 0 10px;
    font-size: 15px;;
    color: rgb(81, 168, 81);
}

/* //////////////////////메인페이지 애니메이션//////// */

/* 
.animation{
    height:100vh;
    width:100%;
    background-color: #9dc39c;
    position:relative;
    margin-top: 9vh;
    
}
h1{
    position: absolute;
    left: 36%;
    top:30%;
    z-index:1;
    background-color: transparent;
    color:#fbfaf6;
}


@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-150px);
              transform: translateX(-150px);
    }
  }
  @keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-150px);
              transform: translateX(-150px);
    }
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(150px);
              transform: translateX(150px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(150px);
              transform: translateX(150px);
    }
  }

.delivery {
    width: 400px;
    height:400px;
    position:absolute;
    top: 15%;
    left: 15%;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.50, 0.40, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.50, 0.40, 0.450, 0.940) both;
}
.online{
    position: absolute;
    width: 300px;
    height:300px;
    top: 7%;
    right: 15%;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
.offline{
    position: absolute;
    width:300px;
    height:300px;
    top: 50%;
    right: 35%;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */