@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box; 
    background-color: #fefdf3;
}
 

header{
    display:flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    color: #156917;
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'TTTogether' ;
    opacity: 0.9;
    margin-top: 0px;
   
   
}
.logo{
    width: 70%;
    text-align:start;
    margin-left: 30px;
}
.profile-image{
    margin-top: 10px;
}
.nickname{
    width: 20%;
    font-size: 20px;
    margin-left: 5px;
    line-height: 55px;
}
.logout-button{
    width: 5%;
    height:max-content;
    margin: auto 0;
    font-family: 'TTTogether' ;
}


/* login 페이지 */
.login-title{
    font-family: 'TTTogether' ;
    color: #156917;
    font-size: 40px;
    
}
.login-container{
    display: flex;
    height: 80vh;
    width: 70vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: dimgray;
}
.description{
    width: 60%;
    height: 100%;
    overflow: hidden;
    border: solid #C4E538;
    position: relative;
}
.description .carousel{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
    
}
.prev{
    float: left;
    z-index: 1;
    height: 80vh;
    position: absolute;
    left:0;
    
    opacity:0;
    width: 20%;
}
.next{
    float: left;
    height: 80vh;
    z-index: 1;
    position: absolute;
    right:0;
    opacity:0;
    width: 20%;
}

.login-main img{
    width: 100%;    
    height: 80vh;
    margin-right: 5px;
}
#id-input{
    margin-top: 20px;
}

.right-box{
    background-color: #C4E538;
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C4E538;
    width: 60%;
}
.login-col h2{
    background-color: #C4E538;
    color:#fefdf3;
}

.login-box{
    border-radius:2px;
    width: 100%;
    height: 40%;
    margin-bottom: 60%;
    position:relative;
}




.login-box > input{
    background-color: #fefdf3;
    margin: 20px 20% 0px 20% ;
    height: 24px;
    width: 58%;

}

.button-container{
    background-color: #becc81;
    display: flex;
    justify-content: space-around;
    margin-top:20px;

}



.login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* ///////////////////////////////////////////////////메인페이지 */

.main-main{
    display:flex;
    transition: 0.6s;
    background-color:seagreen;
}
.main-margin{
    height: 287vh;
    opacity:0;
    width: 15%;
}
.main-container{
    width:70%;
    background-color: rgba(255, 255, 255, 0);
}

.first{
    margin-top: 40px;
    margin-bottom:40px;
    background-color:#e4e1bc;
    height: 87vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.search-box{
    display: flex;
    justify-content: center;
    background-color:  rgba(255, 255, 255, 0);
}
#toggle-button{
    margin-right: 30px;
    height: 50px;
}
#search-input{
    margin: 0 10px 0 10px;
    width: 300px

}
#search-button{
    margin-left:20px;

}
.second{
    height: 100vh;
    margin-bottom: 40px;
    background-color:#ebe8cb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second h4{
    background-color: rgba(255, 255, 255, 0);
    margin-right: 60%;
    color:rgb(81, 168, 81);
}

.my-group{
    transform:translate( -5px, 50px);
    transition: 1.5s;
    background-color: inherit;
    width:70%;
    height: 50vh;
    border:solid rgb(81, 168, 81) 1px;
    overflow:scroll;
    opacity:0;

}
.my-room{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:10%;
    background-color: inherit;
    width:80%;
    margin: 5% auto;
    border: solid rgb(81, 168, 81)2px;
    border-radius:5px;
}
.third{
    height: 100vh;
    margin-bottom: 40px;
    background-color:#f0eed7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.third h4{
    background-color: rgba(255, 255, 255, 0);
    margin-right: 60%;
    color:rgb(81, 168, 81);
}
.rec-room{
    display:flex;
    align-items: center;
    height:7%;
    width:70%;
   
    border: solid rgb(81, 168, 81)2px;
    border-radius:5px;
}

/* //////////////////////메인페이지 애니메이션//////// */

