@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	box-sizing: border-box; 
    background-color: #fbfaf6; 
    font-family:  'S-CoreDream-5Medium';
}

/* login 페이지 */
.login-main{
    display: flex;
    align-items: center;
    
    height: 100vh;
    overflow:hidden;
}

.login-main-left{
    width: 52%;
    height: 100vh;
    background-color: #9dc39c;
    display: flex;
    justify-content: flex-end;
}
.login-main-right{
    width:48%;
    height:100vh;
    
}
.login-title{
    font-family: 'TTTogether' ;
    color: #156917;
    font-size: 40px;
 
    
}
.login-container-left{
    display: flex;
    justify-content:flex-end;
    height: 75vh;
    width: 50vw;
    margin-top: 12vh;    
    background-color: rgba(100, 100, 100, 0);
    
}
.login-container-right{
    display: flex;
    height: 75vh;
    width: 60vw;
    justify-content:left;
    margin-top: 12vh;
    border-radius: 5px;
    
    
}
.description{
    width: 70%;
    height: 100%;
    overflow: hidden;
    border: solid #9dc39c 1px;
    border-right:0px;
    border-radius: 4px 0 0 4px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) -5px 0px 29px 0px;
    
}
.description .carousel{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
    
}


.login-main img{
    width: 100%;    
    height: 80vh;
    margin-right: 5px;
}

 /* 오른쪽 내용 */
.right-box{
    background-color: #fbfaf6;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    
    border-left:0px;
    border: 2px;
    border-style: solid;
    border-color:#9dc39c ;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 7px;
}

.login-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgba(100, 100, 100, 0);
    width: 65%;
}
.login-col h2{
    background-color:  rgba(255, 255, 255, 0);
    color:#fff;
    text-shadow:-2px 0 #9dc39c, 0 2px #9dc39c, 2px 0 #9dc39c, 0 -2px #9dc39c ;
    font-size: 30px;
    margin-bottom: 0px;
}

.login-box{
    border-radius:2px;
    width: 100%;
    height: 50%;
    margin-bottom: 40%;
    padding: 20px;
    padding-top: 40px;
    position:relative;
    border: solid #9dc39c 2px;
}




input{
    margin: 15px 15% 0px 15% ;
    height: 35px;
    width: 70%;
    border: 2.7px solid #9dc39c;
    border-radius: 3px;
    background-color: #fefdf3;
    

}
input:focus{
    border: 2px solid #156917;
    outline:0;
}
input::placeholder{
    color: #9dc39c;
}
button{
    background-color: #fefdf3;
    border: solid #9dc39c;
    border-radius: 2px;
    color: #9dc39c;
    cursor:pointer;
    box-shadow: -0.4px -0.4px ;
    padding: 5px;
    width: 5vw;
}

button:active{
    box-shadow: 1px 1px;
}

.button-container{
    background-color:inherit;
    display: flex;
    justify-content:space-evenly;
    margin-top:30px;

}
.prev{
    float: left;
    z-index: 1;
    height: 80vh;
    position: absolute;
    left:0;
    font-size: 50px;
    font-weight: 400;
    background-color: transparent;
    width: 20%;
    border: none;
    color:#9dc39c;
}
.next{
    float: left;
    height: 80vh;
    z-index: 1;
    position: absolute;
    right:0;
    font-size: 50px;
    font-weight: 400;
    background-color: transparent;
    width: 20%;
    border: none transparent;
    color:#9dc39c;
}






